$mainFontFamily: 'Poppins',Helvetica,Arial,sans-serif
$primaryBgColor: #fff
$submenuItemBgColor: #f9fafb
$subMenuTextColor: #333
$menuTextColor: #77838f
$navAccentColor: #377dff
$lastItemAccentColor: #28d2d0
$mobSizeMain: 991px

@mixin burgerMenu
 display: inline-block
 position: absolute
 content: ''
 width: 100%
 height: 3px
 background-color: $menuTextColor
 transition: all .25s


.closed_mob_menu
 display: flex
 @media(max-width: $mobSizeMain)
  position: relative

 ul
  margin: 0
  list-style: none
  display: flex
  justify-content: flex-start
  align-items: center


  li
   display: flex
   align-items: center
   justify-content: flex-start
   margin-right: 30px
   @media(max-width: $mobSizeMain)
    display: none
  
   span
    color: $menuTextColor
    font-size: 15px
    font-weight: 300
    padding: 15px 0  

   ul
    padding: 0
    margin: 0
    width: 200px
    cursor: pointer
    background-color: $primaryBgColor
    display: none
    box-shadow: 4px 0px 29px -10px rgba(8, 1, 1, 0.3)
    overflow-y: hidden

    li
     box-sizing: border-box
     width: 100%
     padding: 10px 15px
     display: flex
     justify-content: flex-start


     &:last-child
      padding-top: 8px
      border-top: 1px solid $lastItemAccentColor       
    
     &:hover
      background: $submenuItemBgColor

      
     a
      width: 100%
      font-family: $mainFontFamily
      line-height: 1.5      
      font-size: 12px
      text-decoration: none
      color: $subMenuTextColor
      transition: all 0.1s ease-out

      &:hover
       color: $navAccentColor
       cursor: pointer

   &:hover
    span
     color: $navAccentColor
     cursor: pointer

    ul
     display: block
     position: absolute
     z-index: 300
     top: 145px
     border-top: 2px solid $navAccentColor

 .menu_icon
   display: block
   position: absolute   
   z-index: 500
   top: -45px
   left: -420px
   width: 40px
   height: 40px
   cursor: pointer
   @media(max-width: 834px)
    left: -330px
   @media(max-width: 667px)
    left: -200px
   @media(max-width: 414px)
    left: -150px

   span
     @include burgerMenu
     top: 15px


   span::before
     @include burgerMenu
     top: 0
     transform: translateY(-16px) skew(-10deg)

    
   span::after
     @include burgerMenu
     top: 30px
     transform: translateY(-12px) skew(-20deg)



.open_mob_menu
  display: flex
  position: relative
  width: 100%

  ul
   display: flex
   flex-direction: column
   align-items: center
   justify-content: center
   background-color: $primaryBgColor
   width: 100%
   list-style: none
   cursor: pointer
   border-bottom: $submenuItemBgColor



  li
   display: flex
   align-items: center
   justify-content: center
   flex-wrap: wrap
   width: 250px
   margin: 15px 0
   font-family: $mainFontFamily
   font-size: 1rem
   color: $menuTextColor


   ul
    display: none
  
   &:hover
    color: $navAccentColor

    ul
     display: flex
     width: 100%
     border-left: 3px solid $navAccentColor

     li
       width: 100%
       display: flex
       justify-content: center

       
       a
        width: 100%
        text-align: center
        font-family: $mainFontFamily
        line-height: 1.5      
        font-size: 12px
        text-decoration: none
        color: $subMenuTextColor
        transition: all 0.1s ease-out

        &:hover
         color: $navAccentColor



  .menu_icon
   display: block
   position: absolute   
   z-index: 500
   top: -45px
   left: -300px
   width: 40px
   height: 40px
   cursor: pointer
   @media(max-width: 834px)
    left: -210px
   @media(max-width: 667px)
    left: -80px
   @media(max-width: 414px)
    left: -30px

   span
    @include burgerMenu
    top: 25px
    transform: skew(5deg) translateY(-8px) rotate(-45deg)

   span::before
    @include burgerMenu
    top: 0px
    transform: translateY(0px) skew(-17deg) rotate(75deg)

   span::after
    @include burgerMenu
    top: 15px
    transform: translateY(-12px) translateX(10px) skew(-20deg)
    opacity: 0




